@import './reset.css';
@import './header-footer.css';
@import './productItem.css';
@import './lightTheme.css';
@import './help.css';
@import './cart.css';

:root{
    --main-color: #191411;
    --white: white;
    --mainred:#c7a90b;
    --buttonYellow:#d8a733;

    --productWeigth:#6c757d;
    --itemBorder:#353535;
    --LightTheme: #6e737c;

    --darkText:#211A16;
    --lightBackground:#abb4c4;
    --lightBack: #f4f4f4;
    --lightBorder:#d3ad92;
}


@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Semibold.ttf');
}

@font-face {
    font-family: 'Merriweather';
    src: url('../fonts/Merriweather-Black.ttf');
}

html{
    background: #d8a733;
}

body{
    background:  #ffffff;
    font-family: 'Gilroy', sans-serif;
    color: var(--main-color);
}

.container{
    max-width: 1000px;
    margin: auto;
}



.title{
    /*font-family: 'Merriweather', sans-serif;*/
    font-size: 10px;
    line-height: 20px;
    letter-spacing: 0.03em;
    /*text-transform: uppercase;*/
}

.button{
    background: var(--lightBack);
    border-radius: 8px;
    width: 260px;
    height: 62px;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    cursor: pointer;
    outline: none;
    font-size: 18px;
    color: var(--main-color);
    font-weight: 600;
    transition: all 0.3s ease-in;
}


.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: var(--white);
    background: var(--itemBorder);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hoverr {
    width: 300px;
    height: 50px;
    outline: none;
    border: 1px solid black;
    color: black;
    background: white;
    cursor: pointer;
    position: relative;
    z-index: 0;
    font-size: 20px;
    line-height:40px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #d3ad92, #c7a90b, #d8a733, #abb4c4, #6e737c,#d3ad92 );
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hoverr:before {
    content: '';
    background: linear-gradient(45deg, #d3ad92, #c7a90b, #d8a733, #abb4c4, #6e737c,#d3ad92 );
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000;
}

.glow-on-hoverr:active {
    color: #ffffff;
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hoverr:active:after {
    background: #ffffff;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hoverr:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--itemBorder);
    left: 0;
    top: 0;
    border-radius: 10px;
}

.glow-on-hoverr:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ffffff;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.none{
    display: none;
}

/*адаптивность*/

@media (max-width: 1199px) {

    .main-image {
        top: 45px;
        left: 465px;
    }

    .back-to-top{
        right: 2rem;
    }

    .header .container{
        margin-left: 55px;
    }
}

@media (max-width: 991px) {
    .title{
        font-size: 32px;
    }

    .header .container {
        margin-left: 50px;
    }

    .main-content{
        margin-left: 25px;
    }

    .main-image{
        left: 1000px;
        font-size: 300px;
    }

    .help-form{
        margin: 25px auto;
    }
    
    .help-form-input{
        max-width: 465px;
    }

    .help-form-input input{
        max-width: 460px;
    }
}

@media (max-width: 575px) {


    .main-title{
        font-size: 30px;
        line-height: 25px;
    }

    .main-text {
        font-size: 12px;
        line-height: 20px;
    }

    .main-image{
        left: 140px;
        margin-top: -215px;
    }

    .footer{
        margin-left: 25px;
    }

    .help-form{
        width: 550px;
    }
}

.modal {
    position: fixed;
    left: 0px;
    top: 0;
    width: 100%;
    height: 120vh;
    z-index: 99998;
    background-color: rgba(0, 0, 0, .3);
    display: grid;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transition: opacity .4s, visibility .4s;
}

.modal_box {
    position: relative;
    max-width: 500px;
    padding: 45px;
    z-index: 1;
    margin: 30px 15px;
    background-color: white;
    box-shadow: 0px 0px 17px -7px rgba(34, 60, 80, 0.2);
    transform: scale(0);
    transition: transfrom .8s;
}

.modal_close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    border: none;
    background-color: transparent;
    padding: 5px;
    cursor: pointer;
}

.modal_close-btn svg path {
    transition: fill .4s;
}

.modal_close-btn:hover svg path {
    fill: grey;
}

.modal.open {
    visibility: visible;
    opacity: 1;
}

.modal.open .modal_box {
    transform: scale(1);
}

.img {
    width: 50%;
    height: 55%;
}

.left {
  text-align: left;
}

.grey {
  color: grey;
}